<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>version01</display-name>
  <welcome-file-list>
    <welcome-file>jsp/index/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisetServlet</display-name>
    <servlet-name>RegisetServlet</servlet-name>
    <servlet-class>com.nankai.version1.servlet.RegisetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisetServlet</servlet-name>
    <url-pattern>/RegisetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.nankai.version1.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SceneryServlet</display-name>
    <servlet-name>SceneryServlet</servlet-name>
    <servlet-class>com.nankai.version1.servlet.SceneryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SceneryServlet</servlet-name>
    <url-pattern>/SceneryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowPostDetailsServlet</display-name>
    <servlet-name>ShowPostDetailsServlet</servlet-name>
    <servlet-class>com.nankai.version1.servlet.ShowPostDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPostDetailsServlet</servlet-name>
    <url-pattern>/ShowPostDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReplyServlet</display-name>
    <servlet-name>AddReplyServlet</servlet-name>
    <servlet-class>com.nankai.version1.servlet.AddReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReplyServlet</servlet-name>
    <url-pattern>/AddReplyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendPostServlet</display-name>
    <servlet-name>SendPostServlet</servlet-name>
    <servlet-class>com.nankai.version1.servlet.SendPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendPostServlet</servlet-name>
    <url-pattern>/SendPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MiddleSendPost</display-name>
    <servlet-name>MiddleSendPost</servlet-name>
    <servlet-class>com.nankai.version1.servlet.MiddleSendPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MiddleSendPost</servlet-name>
    <url-pattern>/MiddleSendPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUserInfoServlet</display-name>
    <servlet-name>ShowUserInfoServlet</servlet-name>
    <servlet-class>com.nankai.version1.servlet.ShowUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUserInfoServlet</servlet-name>
    <url-pattern>/ShowUserInfoServlet</url-pattern>
  </servlet-mapping>
</web-app>